---
import Layout from "../layouts/Layout.astro";
import { Header } from "../components/layout/Header";
import { Footer } from "../components/layout/Footer";
import { Hero } from "../components/home/Hero";
import { SaveTheDate } from "../components/home/SaveTheDate";

// Server-render this page so middleware can access headers
export const prerender = false;

// User is guaranteed by middleware (this is a protected page)
const user = Astro.locals.user;
---

<Layout title="Soup or Bowl 2026 - Save the Date">
  <Header user={user} />

  <main class="pt-16">
    {/* pt-16 to account for fixed header */}
    <Hero />
    <SaveTheDate />
  </main>

  <Footer />
</Layout>
